body {
  background-color: pink;
  font-family: Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: #06040a;
}

.twitch {
  display: block;
  margin: 0 auto 0 auto;
  width: 400px;
}

.container {
  width: 400px;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #0000ff;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  background-color: #00ff00;
  color: white;
  padding: 20px;
}

td:hover {
  cursor: pointer;
}

.active {
  background-color: #E24B2C;
}

#online {
  border-width: 0 1px;
  border-style: solid;
}

form {
  padding: 15px;
  border-bottom: 1px solid gainsboro;
}

input {
  border: 1px solid gainsboro;
  border-radius: 15px;
  height: 25px;
  padding: 0 30px;
  width: 80%;
  background: url('https://cdn2.iconfinder.com/data/icons/windows-8-metro-style/256/google_web_search.png') no-repeat 10px;
  background-size: 15px;
  color: black;
}

ul {
  padding: 0;
  list-style-type: none;
}

.user {
  display: block;
  padding: 15px;
  text-align: left;
}

.user-icon {
  border-radius: 100%;
  height: 50px;
  width: 50px;
  display: inline-block;
  float: left;
}

.user-name {
  display: inline-block;
  padding-left: 10px;
}

.user-info {
  display: block;
  color: grey;
  font-size: 12px;
  margin-top: -10px;
  padding-left: 60px;
}

.user-status {
  display: inline-block;
  float: right;
  padding-top: 15px;
}

.fa-exclamation {
  color: #f8001a;
}

.fa-twitch {
  color: blue;
}